.questionContainer {
  display: grid;
  gap: 5px;
  box-sizing: border-box;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: 1fr;
  font-size: .8em;
  padding: 25px;
}

.verticalDivider {
  height: 100%;
  background-color: #282c34;
}

.questionAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
